/* Kontakt side */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .contact-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    border: 2px solid blue;
  }
  
  .contact-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-info {
    color: #206c64;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #e0e0e0;
  }
  
  .contact-form textarea {
    height: 80px;
    resize: none;
  }
  
  .send-btn {
    width: 100%;
    padding: 10px;
    background-color: #3d8675;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .send-btn:hover {
    background-color: #2c6759;
  }
  