header {
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/bachlor.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hero-text {
    padding: 40px;
  }
  
  .scroll-btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .scroll-btn:hover {
    opacity: 0.8;
  }
  